{% extends 'base.html.twig' %}

{% block body %}
    <div class="backdrop" style="background-image:
            linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
            url('{{ asset('uploads/backdrops/' ~ serie.backdrop) }}');">

        <div class="backdrop-content">
            <h2>{{ serie.name }}</h2>

            <span>Genre: {{ serie.genre }}</span><br>
            <span>Statut: {{ serie.status }}</span><br>
            <span>{{ serie.firstAirDate|date('d/m/Y') }}</span>

            <p>{{ serie.overview }}</p>
        </div>
    </div>
{% endblock %}