{% extends 'base.html.twig' %}

{% block title %}ENIFlix - Series list{% endblock %}

{% block body %}
    <h2>Series</h2>

    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Status</th>
            <th>Vote</th>
            <th>Popularity</th>
            <th>First Air Date</th>
            <th>Last Air Date</th>
        </tr>
        {% for serie in series %}
            <tr>
                <td>{{ serie.id }}</td>
                <td>{{ serie.name }}</td>
                <td>{{ serie.status }}</td>
                <td>{{ serie.vote }}</td>
                <td>{{ serie.popularity }}</td>
                <td>{{ serie.firstAirDate|date('d-m-Y') }}</td>
                <td>{{ serie.lastAirDate ? serie.lastAirDate|date('d-m-Y') : '' }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
